# Case Study: Customer 360 for Retail E-commerce
## Background
An e-commerce company specializes in unique all-occasion gifts and sells products online to customers across the UK and other countries. Their customer data is dispersed across several systems (e.g., CRM, marketing platforms, sales databases), making it difficult to get a complete view of each customer. This fragmentation leads to inconsistent customer experiences and hampers targeted marketing efforts.

## Problem Statement
The company faces challenges in delivering a personalized customer experience. Data about customer demographics, purchase history, preferences, and interactions are siloed in separate systems, causing:

- Inefficiencies in identifying customer needs.
- Missed opportunities for targeted recommendations.
- Inconsistent messaging across various customer touchpoints.

## Project Goals
The primary objective is to build a Customer 360 solution by consolidating and analyzing customer data. This data warehouse will enable the company to:

1. **Create a Unified Customer View**: Bring together demographics, purchase history, interaction data, and preferences to understand each customerâ€™s journey better.
2. **Improve Customer Segmentation**: Segment customers based on their profiles, shopping habits, and preferences.
3. **Enhance Marketing Campaigns**: Use segmented customer data for targeted marketing, improving the chances of conversions.
4. **Provide Personalized Recommendations**: Enable recommendation algorithms to suggest products that fit the customersâ€™ preferences and past behaviors.

## Solution Outline
To create a Customer 360 data warehouse, the following steps are proposed:

### Data Collection:
- Gather customer data from the e-commerce system, CRM, and marketing platforms.
- Use the Online Retail II dataset from the UCI Machine Learning Repository, which includes:
      - Customer Information: Unique ID, demographic details, and location.
      - Purchase History: Product details, quantities, and total purchase amount.
      - Sales Transactions: Dates and times of purchases, with itemized transaction details.

### Data Transformation (Star Schema Design):
- **Fact Table**: The main Sales Fact Table will store quantitative data for each transaction:
      - InvoiceNo, Quantity, UnitPrice, CustomerID, StockCode, InvoiceDate.
- **Dimension Tables**:
      - Customer Dimension: Contains CustomerID, Country, and demographic information.
      - Product Dimension: Contains StockCode and Description.
      - Date Dimension: Breaks down the InvoiceDate into Year, Month, Day, and Time.

### Data Loading into MySQL:
- Import the cleaned and transformed data into MySQL as tables.
- Establish foreign key relationships between the fact table and each dimension table.

### Data Analysis and Reporting:
- Generate insights on customer purchase patterns, segment customers based on demographics and purchase frequency, and identify high-value customers.
- Measure the effectiveness of marketing campaigns by tracking repeat purchases and sales growth within segmented groups.
- Create reports and dashboards that visualize key metrics, such as customer lifetime value, retention rates, and product affinity.

## Expected Outcomes
Implementing this Customer 360 solution will enable:

- Improved Customer Experience: Tailored interactions across customer touchpoints.
- Increased Sales: Through personalized recommendations and targeted marketing.
- Operational Efficiency: By consolidating data from disparate sources, the company reduces manual data handling and increases the accuracy of insights.

## Import Libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('Customer 360 for Retail E-commerce.xlsx')

In [3]:
df.head(10)

,Order ID,Customer Name,Category,Sub Category,City,Order Date,Region,Sales,Discount,Profit,State
0,OD1,Harish,Oil & Masala,Masalas,Vellore,2017-11-08,North,1254,0.12,401.28,Tamil Nadu
1,OD2,Sudha,Beverages,Health Drinks,Krishnagiri,2017-11-08,South,749,0.18,149.80,Tamil Nadu
2,OD3,Hussain,Food Grains,Atta & Flour,Perambalur,2017-06-12,West,2360,0.21,165.20,Tamil Nadu
3,OD4,Jackson,Fruits & Veggies,Fresh Vegetables,Dharmapuri,2016-10-11,South,896,0.25,89.60,Tamil Nadu
4,OD5,Ridhesh,Food Grains,Organic Staples,Ooty,2016-10-11,South,2355,0.26,918.45,Tamil Nadu
5,OD6,Adavan,Food Grains,Organic Staples,Dharmapuri,2015-06-09,West,2305,0.26,322.70,Tamil Nadu
6,OD7,Jonas,Fruits & Veggies,Fresh Vegetables,Trichy,2015-06-09,West,826,0.33,346.92,Tamil Nadu
7,OD8,Hafiz,Fruits & Veggies,Fresh Fruits,Ramanadhapuram,2015-06-09,West,1847,0.32,147.76,Tamil Nadu
8,OD9,Hafiz,Bakery,Biscuits,Tirunelveli,2015-06-09,West,791,0.23,181.93,Tamil Nadu
9,OD10,Krithika,Bakery,Cakes,Chennai,2015-06-09,West,1795,0.27,484.65,Tamil Nadu

### 2. Inspect the Data:
- Check for missing values:

In [4]:
df.isnull().sum()

Order ID         0
Customer Name    0
Category         0
Sub Category     0
City             0
Order Date       0
Region           0
Sales            0
Discount         0
Profit           0
State            0
dtype: int64

## Get a summary of the data types:

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       9994 non-null   object
 1   Customer Name  9994 non-null   object
 2   Category       9994 non-null   object
 3   Sub Category   9994 non-null   object
 4   City           9994 non-null   object
 5   Order Date     9994 non-null   datetime64[ns]
 6   Region         9994 non-null   object
 7   Sales          9994 non-null   int64
 8   Discount       9994 non-null   float64
 9   Profit         9994 non-null   float64
 10  State          9994 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(1), object(7)
memory usage: 859.0+ KB

## Look for duplicate records:

In [6]:
df.duplicated().sum()

np.int64(0)

## Data Cleaning Steps
1. Handle Missing Values

- Check for Missing Values: Although you previously checked for nulls, it's essential to confirm that key fields like Order ID, Customer Name, Order Date, and other essential columns have no missing values.

2. Remove or Impute:

- For rows missing critical fields like Customer Name or Order Date, you may want to drop those rows, as they canâ€™t contribute meaningfully to analysis.

In [7]:
# Drop rows with missing critical data
df.dropna(subset=['Order ID', 'Customer Name', 'Order Date'], inplace=True)

# Fill missing values in numeric columns with 0 (if this makes sense for your analysis)
df['Discount'].fillna(0, inplace=True)
df['Profit'].fillna(0, inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_2592\2053800101.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Discount'].fillna(0, inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_2592\2053800101.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Profit'].fillna(0, inplace=True)

Standardize Formats

- Dates: Ensure that Order Date is in a consistent datetime format for easy extraction into year, month, etc.

In [8]:
df['Order Date'] = pd.to_datetime(df['Order Date'])

### Text Columns: 
- Standardize text in fields like Customer Name, City, Category, and Sub Category by converting them to a consistent case (e.g., lowercase) to avoid duplicates due to case differences.

In [9]:
df['Customer Name'] = df['Customer Name'].str.title()  # Capitalize names
df['City'] = df['City'].str.title()
df['Category'] = df['Category'].str.title()
df['Sub Category'] = df['Sub Category'].str.title()

### Remove Duplicates

- Drop Duplicates in Key Fields: For fields like Order ID, ensure that each transaction is unique. Check for duplicate Order ID entries and drop if necessary.

In [10]:
df.drop_duplicates(subset=['Order ID'], inplace=True)

## Verify Numeric Data Integrity

Negative or Unrealistic Values: Check for negative or zero values in columns like Sales, Discount, and Profit where they might not make sense (unless negative values indicate returns or refunds).
Outliers: Identify and handle outliers in columns like Sales and Profit, which could skew analysis.

In [11]:
# Example check for negative sales or profit values
df = df[df['Sales'] >= 0]
df = df[df['Profit'] >= 0]

## Rename Columns for Consistency

- Give columns consistent and descriptive names to match your star schema design.

In [12]:
df.rename(columns={
    'Order ID': 'OrderID',
    'Customer Name': 'CustomerName',
    'Sub Category': 'SubCategory',
    'Order Date': 'OrderDate'
}, inplace=True)

## Data Type Conversions

- Ensure columns have the correct data types:

      - OrderID should be treated as a string if itâ€™s not purely numeric.
      - Sales, Discount, and Profit should be numeric for accurate aggregation and calculation.

In [13]:
df['OrderID'] = df['OrderID'].astype(str)
df['Sales'] = pd.to_numeric(df['Sales'], errors='coerce')
df['Discount'] = pd.to_numeric(df['Discount'], errors='coerce')
df['Profit'] = pd.to_numeric(df['Profit'], errors='coerce')

In [14]:
print(df.isnull().sum())
print(df.dtypes)

OrderID         0
CustomerName    0
Category        0
SubCategory     0
City            0
OrderDate       0
Region          0
Sales           0
Discount        0
Profit          0
State           0
dtype: int64
OrderID                 object
CustomerName            object
Category                object
SubCategory             object
City                    object
OrderDate       datetime64[ns]
Region                  object
Sales                    int64
Discount               float64
Profit                 float64
State                   object
dtype: object

# Star Schema Design for Customer 360

This schema is designed to support Customer 360 analytics by consolidating customer data, product information, time details, regional data, and sales transactions into a unified structure. This star schema allows for efficient querying and analysis by linking a central fact table to related dimension tables. Below is a description of each table in the schema.

## Dimension and Fact Tables

### 1. Customer Dimension (`Customer_Details`)

The `Customer_Details` table captures unique information about each customer, including demographic and geographic details. This dimension allows us to segment customers based on location and analyze their purchase behaviors.

**Columns:**
- `customer_id`: Unique identifier for each customer (Primary Key).
- `customer_name`: The name of the customer.
- `city`: The city where the customer is located.
- `state`: The state where the customer is located.
- `region`: The region associated with the customerâ€™s location (e.g., North, South).

**Insights:**
By including fields like `city`, `state`, and `region`, we can analyze customer trends at various geographic levels, such as identifying top-selling regions or cities and tailoring marketing efforts accordingly.

---

### 2. Product Dimension (`Product`)

The `Product` table contains unique combinations of product categories and subcategories. This dimension enables analysis of product performance by category and subcategory, which can help in understanding customer preferences and inventory management.

**Columns:**
- `product_id`: Unique identifier for each product (Primary Key).
- `category`: Broad classification of products, such as "Food Grains" or "Beverages".
- `subcategory`: A more specific classification within a category, such as "Atta & Flour" under "Food Grains".

**Insights:**
Breaking down products by category and subcategory allows for more detailed insights into customer buying patterns. This information can guide inventory planning and highlight opportunities for cross-selling related products.

---

### 3. Time Dimension (`Time`)

The `Time` table captures various components of each orderâ€™s date, allowing for time-based analysis. This dimension is crucial for trend analysis, seasonality studies, and tracking performance over different periods.

**Columns:**
- `time_id`: Unique identifier for each date entry (Primary Key).
- `order_date`: The specific date of the transaction.
- `day`: Day of the month extracted from the `order_date`.
- `month`: Month of the transaction.
- `quarter`: Quarter of the transaction (1, 2, 3, or 4).
- `year`: Year of the transaction.

**Insights:**
Having different parts of the date broken out (day, month, quarter, year) allows for flexible time-based analysis. For example, we can compare sales across months, analyze quarterly growth, and identify peak purchase times.

---

### 4. Region Dimension (`Region`)

The `Region` table is used to store unique region names. This dimension simplifies the analysis of customer data across different regions by linking customer locations and sales records to a distinct regional grouping.

**Columns:**
- `region_id`: Unique identifier for each region (Primary Key).
- `region_name`: Name of the region, such as "North", "South", "East", or "West".

**Insights:**
By isolating regions in their own dimension, it becomes easier to perform regional comparisons and pinpoint where certain products or marketing campaigns are performing best. This separation also allows for targeted decision-making based on regional preferences.

---

### 5. Fact Table (`Sales`)

The `Sales` table serves as the central fact table, recording each transaction made by customers. This table is linked to all the dimension tables, allowing us to analyze sales in terms of customer demographics, product details, time of transaction, and region.

**Columns:**
- `order_id`: Unique identifier for each order (Primary Key).
- `customer_id`: Foreign key referencing `customer_id` in `Customer_Details`.
- `product_id`: Foreign key referencing `product_id` in `Product`.
- `time_id`: Foreign key referencing `time_id` in `Time`.
- `region_id`: Foreign key referencing `region_id` in `Region`.
- `sales`: The total sales amount for the transaction.
- `discount`: The discount applied to the sale (if any).
- `profit`: The profit derived from the transaction.

**Insights:**
The fact table is designed to store quantitative data, which allows for comprehensive analysis of sales performance. With connections to each dimension table, this structure supports various queries, such as:
   - Total sales and profit by customer location.
   - Sales trends by month, quarter, or year.
   - Profit margins across different product categories and regions.

---

## Summary

The star schema design includes four dimension tables (`Customer_Details`, `Product`, `Time`, `Region`) and one central fact table (`Sales`). This structure enables efficient data retrieval and supports a wide range of analytical queries. By organizing data into this schema, we can gain valuable insights into customer behavior, product performance, time-based trends, and regional differences, all of which contribute to a deeper understanding of the business and support data-driven decision-making.

Lets Do Star Schema Now ðŸ‘Œ

## 1. Customer Dimension Table (Customer_Details)
- Extract unique customer details.

In [26]:
customer_details = df[['CustomerName', 'City', 'State', 'Region']].drop_duplicates()
customer_details.reset_index(drop=True, inplace=True)
customer_details['customer_id'] = customer_details.index + 1  # Generate unique ID for each customer
customer_details.head()

  CustomerName         City       State Region  customer_id
0       Harish      Vellore  Tamil Nadu  North            1
1        Sudha  Krishnagiri  Tamil Nadu  South            2
2      Hussain   Perambalur  Tamil Nadu   West            3
3      Jackson   Dharmapuri  Tamil Nadu  South            4
4      Ridhesh         Ooty  Tamil Nadu  South            5

## 2. Product Dimension Table (Product)
- Extract unique product categories and subcategories.

In [27]:
product = df[['Category', 'SubCategory']].drop_duplicates()
product.reset_index(drop=True, inplace=True)
product['product_id'] = product.index + 1  # Generate unique ID for each product
product.head()

           Category       SubCategory  product_id
0      Oil & Masala           Masalas           1
1         Beverages     Health Drinks           2
2       Food Grains      Atta & Flour           3
3  Fruits & Veggies  Fresh Vegetables           4
4       Food Grains   Organic Staples           5

 ## 3. Time Dimension Table (Time)
- Extract date parts from OrderDate.

In [28]:
df['OrderDate'] = pd.to_datetime(df['OrderDate'])
time = df[['OrderDate']].drop_duplicates()
time['date'] = time['OrderDate']
time['day'] = time['OrderDate'].dt.day
time['month'] = time['OrderDate'].dt.month
time['quarter'] = time['OrderDate'].dt.quarter
time['year'] = time['OrderDate'].dt.year
time.reset_index(drop=True, inplace=True)
time['time_id'] = time.index + 1  # Generate unique ID for each date
time.head()

   OrderDate       date  day  month  quarter  year  time_id
0 2017-11-08 2017-11-08    8     11        4  2017        1
1 2017-06-12 2017-06-12   12      6        2  2017        2
2 2016-10-11 2016-10-11   11     10        4  2016        3
3 2015-06-09 2015-06-09    9      6        2  2015        4
4 2018-04-15 2018-04-15   15      4        2  2018        5

 ## 4. Region Dimension Table (Region)
 - Extract unique regions.

In [29]:
region = df[['Region']].drop_duplicates()
region.reset_index(drop=True, inplace=True)
region['region_id'] = region.index + 1  # Generate unique ID for each region
region.head()

    Region  region_id
0    North          1
1    South          2
2     West          3
3  Central          4
4     East          5

## 5. Fact Table (Sales)
- Combine all the IDs into a fact table with the sales data.

In [30]:
# Merge data with customer, product, time, and region dimensions to get the IDs
fact_table = df.merge(customer_details[['CustomerName', 'customer_id']], on='CustomerName', how='left')
fact_table = fact_table.merge(product[['Category', 'SubCategory', 'product_id']], on=['Category', 'SubCategory'], how='left')
fact_table = fact_table.merge(time[['OrderDate', 'time_id']], on='OrderDate', how='left')
fact_table = fact_table.merge(region[['Region', 'region_id']], on='Region', how='left')

# Select columns for the fact table
fact_table = fact_table[['OrderID', 'customer_id', 'product_id', 'time_id', 'region_id', 'Sales', 'Discount', 'Profit']]
fact_table.rename(columns={'OrderID': 'order_id'}, inplace=True)
fact_table.head()

,order_id,customer_id,product_id,time_id,region_id,Sales,Discount,Profit
0,OD1,1,1,1,1,1254,0.12,401.28
1,OD1,121,1,1,1,1254,0.12,401.28
2,OD1,127,1,1,1,1254,0.12,401.28
3,OD1,133,1,1,1,1254,0.12,401.28
4,OD1,146,1,1,1,1254,0.12,401.28

In [39]:
import mysql.connector

# Connect to MySQL
connection = mysql.connector.connect(
    host="localhost",
    user="root",         # Replace with your MySQL username
    password="12345",     # Replace with your MySQL password
    database="customer360" # Ensure this matches the database name you created
)

cursor = connection.cursor()

In [41]:
# Display the first few rows of customer_details to verify data types
print(customer_details.dtypes)
print(customer_details.head())

CustomerName    object
City            object
State           object
Region          object
customer_id      int64
dtype: object
  CustomerName         City       State Region  customer_id
0       Harish      Vellore  Tamil Nadu  North            1
1        Sudha  Krishnagiri  Tamil Nadu  South            2
2      Hussain   Perambalur  Tamil Nadu   West            3
3      Jackson   Dharmapuri  Tamil Nadu  South            4
4      Ridhesh         Ooty  Tamil Nadu  South            5

In [42]:
# Insert data into Customer_Details table
for _, row in customer_details.iterrows():
    sql = """
    INSERT INTO Customer_Details (customer_id, customer_name, city, state, region)
    VALUES (%s, %s, %s, %s, %s)
    """
    # Extract each value individually to ensure correct types
    data_tuple = (int(row['customer_id']), row['CustomerName'], row['City'], row['State'], row['Region'])
    
    # Execute the SQL command with the data tuple
    cursor.execute(sql, data_tuple)

# Commit the transaction to save changes in the database
connection.commit()

In [51]:
# Display the data types and first few rows of the product DataFrame
print(product.dtypes)

Category       object
SubCategory    object
product_id      int64
dtype: object

In [52]:
# Insert data into Product table
for _, row in product.iterrows():
    sql = "INSERT INTO Product (product_id, category, subcategory) VALUES (%s, %s, %s)"
    cursor.execute(sql, (int(row['product_id']), row['Category'], row['SubCategory']))

connection.commit()  # Commit changes to the database

In [50]:
# Display the data types and first few rows of the time DataFrame
print(time.dtypes)

OrderDate    datetime64[ns]
date         datetime64[ns]
day                   int32
month                 int32
quarter               int32
year                  int32
time_id               int64
dtype: object

In [53]:
# Insert data into Time table
for _, row in time.iterrows():
    sql = """
    INSERT INTO Time (time_id, order_date, day, month, quarter, year)
    VALUES (%s, %s, %s, %s, %s, %s)
    """
    cursor.execute(sql, (int(row['time_id']), row['OrderDate'].date(), int(row['day']), int(row['month']), int(row['quarter']), int(row['year'])))

connection.commit()  # Commit changes to the database

In [49]:
# Display the data types and first few rows of the region DataFrame
print(region.dtypes)

Region       object
region_id     int64
dtype: object

In [54]:
# Insert data into Region table
for _, row in region.iterrows():
    sql = "INSERT INTO Region (region_id, region_name) VALUES (%s, %s)"
    cursor.execute(sql, (int(row['region_id']), row['Region']))

connection.commit()  # Commit changes to the database

In [66]:
# Display the data types and first few rows of the fact_table DataFrame
print(fact_table.dtypes)

order_id         int16
customer_id      int64
product_id       int64
time_id          int64
region_id        int64
Sales            int64
Discount       float64
Profit         float64
dtype: object

In [67]:
# Generate unique integer IDs for each unique order_id
fact_table['order_id'] = fact_table['order_id'].astype('category').cat.codes + 1

# Verify the result
print(fact_table.head())

   order_id  customer_id  product_id  time_id  region_id  Sales  Discount  \
0         1            1           1        1          1   1254      0.12
1         1          121           1        1          1   1254      0.12
2         1          127           1        1          1   1254      0.12
3         1          133           1        1          1   1254      0.12
4         1          146           1        1          1   1254      0.12

   Profit
0  401.28
1  401.28
2  401.28
3  401.28
4  401.28

In [69]:
# Assign unique integer IDs to each row to ensure uniqueness for `order_id`
fact_table['order_id'] = range(1, len(fact_table) + 1)

# Verify the result
print(fact_table[['order_id', 'customer_id', 'product_id', 'time_id', 'region_id', 'Sales', 'Discount', 'Profit']].head())

   order_id  customer_id  product_id  time_id  region_id  Sales  Discount  \
0         1            1           1        1          1   1254      0.12
1         2          121           1        1          1   1254      0.12
2         3          127           1        1          1   1254      0.12
3         4          133           1        1          1   1254      0.12
4         5          146           1        1          1   1254      0.12

   Profit
0  401.28
1  401.28
2  401.28
3  401.28
4  401.28

In [71]:
# Clear the Sales table to avoid duplicate primary key conflicts
cursor.execute("TRUNCATE TABLE Sales")
connection.commit()

# Now, proceed with the data insertion
for _, row in fact_table.iterrows():
    sql = """
    INSERT INTO Sales (order_id, customer_id, product_id, time_id, region_id, sales, discount, profit)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
    """
    cursor.execute(sql, (
        row['order_id'], 
        int(row['customer_id']), 
        int(row['product_id']), 
        int(row['time_id']), 
        int(row['region_id']),
        float(row['Sales']), 
        float(row['Discount']), 
        float(row['Profit'])
    ))

# Commit the transaction to save the data in the database
connection.commit()

print("Data loaded successfully into the Sales table.")

Data loaded successfully into the Sales table.